<h1 class="animated fadeIn," style="background-color: #ff8000; text-align: center;">Biografías de Azeroth</h1>
<hr>

<div class="card-columns">
    <div class="card animated fadeIn" *ngFor="let heroe of heroes; let i = index">
        <img [src]="heroe.img" class="card-img-top" width="200" height="350" [alt]="heroe.nombre">
        <div class="card-block">
            <h5 class="card-title">{{ heroe.nombre }}</h5>
            <p class="card-text">{{ heroe.bio }}</p>
            <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>
        </div>

        <button (click)="verHeroe(i)" type="button" class="btn btn-outline-primary btn-block" style="background-color: rgb(11, 11, 12);">Ver Info...</button>
    </div>